{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
   {% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {#    <div class="container">#}
    {#        <form class="login-form" method="post">#}
    {#            {% if error %}#}
    {#                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#            {% endif %}#}

    {#            {% if app.user %}#}
    {#                <div class="mb-3">#}
    {#                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
    {#                </div>#}
    {#            {% endif %}#}

    {#            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
    {#            <label for="inputEmail">Email</label>#}
    {#            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
    {#            <label for="inputPassword">Password</label>#}
    {#            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

    {#            <input type="hidden" name="_csrf_token"#}
    {#                   value="{{ csrf_token('authenticate') }}"#}
    {#            >#}

    {#            #}{##}
    {#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
    {#            See https://symfony.com/doc/current/security/remember_me.html#}

    {#            <div class="checkbox mb-3">#}
    {#                <label>#}
    {#                    <input type="checkbox" name="_remember_me"> Remember me#}
    {#                </label>#}
    {#            </div>#}
    {#            #}

    {#            <button class="btn btn-lg btn-primary mt-2" type="submit">#}
    {#                Sign in#}
    {#            </button>#}
    {#        </form>#}
    {#    </div>#}


    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div>
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                {% if error %}
                    <div class="alert alert-danger mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Sign in with</p>

                            <button type="button" class="btn btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24">
                                    <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                                </svg>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email"
                                   value="{{ last_username }}"
                                   name="email"
                                   id="inputEmail"
                                   class="form-control form-control-lg"
                                   autocomplete="email" required autofocus
                                   placeholder="Enter a valid email address" />
                            <label class="form-label" for="inputEmail">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password"
                                   name="password"
                                   id="inputPassword"
                                   class="form-control form-control-lg"
                                   autocomplete="current-password"
                                   required
                                   placeholder="Enter password" />
                            <label class="form-label" for="inputPassword">Password</label>
                        </div>

                        {#                            <div class="d-flex justify-content-between align-items-center">#}
                        {#                                <!-- Checkbox -->#}
                        {#                                <div class="form-check mb-0">#}
                        {#                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />#}
                        {#                                    <label class="form-check-label" for="form2Example3">#}
                        {#                                        Remember me#}
                        {#                                    </label>#}
                        {#                                </div>#}
                        {#                                <a href="#!" class="text-body">Forgot password?</a>#}
                        {#                            </div>#}

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                                <a href="{{ path('app_register') }}" class="link-danger">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div
                class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2023. All rights reserved.
            </div>
        </div>
    </section>
{% endblock %}
